{% load jazzmin %}
{% if card %}
<div class="card">
    {% if fieldset.name %}
    <div class="card-header">
        <h3 class="card-title">{{ fieldset.name }}</h3>
    </div>
    {% endif %}
    <div class="card-body">
        {% endif %}

        {% for line in fieldset %}
        <div class="form-group row">
            {% for field in line %}
            <label class="col-sm-3 col-form-label">{{ field.field.label|capfirst }}</label>
            <div class="col-sm-9">
                {{ field.field }}
                {% if field.field.help_text %}
                <small class="form-text text-muted">{{ field.field.help_text|safe }}</small>
                {% endif %}
                {% if field.errors %}
                <div class="invalid-feedback d-block">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}

        {% if card %}
    </div>
</div>
{% endif %}